version: "3"

services:

  nginx:
    container_name: nginx
    build:          
      context: requirements/nginx
      dockerfile: Dockerfile
    depends_on:
      - wordpress
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    restart: on-failure

  mariadb:
    container_name: mariadb
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "3306:3306"
    healthcheck:
      test: nc -w 5 127.0.0.1 3306
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    build: 
      context: requirements/wordpress
      dockerfile: Dockerfile
    depends_on:
      mariadb:
        condition: service_healthy
    env_file: .env
    ports:
      - "9000:9000"
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    restart: on-failure

volumes:

  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/laprieur/data/wordpress'

  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/laprieur/data/mariadb'

networks:

  inception:
    driver: bridge
